<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea tu cuenta</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Gemstones&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="main_header_top_bar">
            <div class="top_bar">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" class="logo" alt="Logo mercado liebre"></a>
    
            <div class="busqueda">
                
                <input class="search" type="search" placeholder="Buscar productos, marcas...">
                <button class="button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>   
            </div>
        </div>
       <h2 class="titulo_compra">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        Comprá en cuotas y sin tarjeta de crédito.
       </h2>
        </div>
            <nav class="nav-bar">
                <ul class="lista-superior">
                        <li><a href="">Ofertas</a></li>
                        <li><a href="">Tiendas oficiales</a></li>
                        <li><a href="">Vender</a></li>
                        <li><a href="">Ayuda</a></li>
                </ul>
                <ul class="lista-inferior">
                        <li><a href="/register">Crea tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                        <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                        <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                </ul>
            </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <div class="form-container register">
            <h2>Registro</h2>
            <hr>
            <form action="/" method="post">
                <div class="form">
                    <div class="profile-box">
                        <h4 class="profile-subtitle">Avatar</h4>
                        <div class="avatar">
                            <img src="#photo" alt="">
                        </div>
                        <div class="input-file-container">
                            <input type="file" name="" id="photo">
                        </div>
                    </div>
                    <div class="profile-form">
                        <div class="profile-box">
                            <div class="input-container">
                                <input class="input-style" type="text" name="nombre" placeholder="nombre y apellido">
                                <span class="error-message">Debe ingresar su nombre y apellido</span>
                            </div>
                            <div class="input-container">
                                <input class="input-style" type="text" name="usuario" placeholder="nombre de usuario">
                                <span class="error-message">Debe ingresar su nombre de usuario</span>
                            </div>
                            <div class="input-container">
                                <input class="input-style" type="email" name="email" placeholder="email">
                                <span class="error-message">Debe ingresar su email</span>
                            </div>
                            <div class="input-container">
                                <input class="input-style" type="text" name="direccion" placeholder="domicilio y numero">
                                <span class="error-message">Debe ingresar su domicilio</span>
                            </div>
                            <div class="button-radio-container">
                                <h4>Perfil de usuario</h4>
                                <label for="perfil">Comprador</label>
                                <input type="radio" name="perfil" id="perfil" value="comprador">
                                <label for="perfil">Vendedor</label>
                                <input type="radio" name="perfil" id="perfil" value="vendedor">
                            </div>
                        </div>
                        <div class="profile-box">
                            <div class="input-container">
                                <input class="input-style" type="password" name="pass" placeholder="Ingrese su contraseña">
                                <span class="error-message">Debe ingresar su contraseña</span>
                            </div>
                            <div class="input-container">
                                <input class="input-style" type="password" name="pass2" placeholder="Re-ingrese su contraseña">
                                <span class="error-message">Debe re-ingresar su contraseña</span>
                            </div>
                            <div class="input-container-fecha">
                                <label for="">fecha de nacimiento</label>
                                <input class="input-style fecha" type="date" name="fecha" value="2023-01-05">
                                <span class="error-message">Debe ingresar su fecha de nacimiento</span>
                            </div>
                            <div class="interest-container">
                                <h4>Intereses</h4>
                                <div class="check-interest">
                                    <div>
                                        <input type="checkbox" name="interest" id="intereses">
                                        <label for="interest">Electro</label>
                                    </div>
                                    <div> 
                                        <input type="checkbox" name="interest" id="intereses"> 
                                        <label for="interest">Moda</label>   
                                    </div>
                                    <div>
                                        <input type="checkbox" name="interest" id="intereses"> 
                                        <label for="interest">Hogar</label>   
                                    </div>
                                    <div>
                                        <input type="checkbox" name="interest" id="intereses"> 
                                        <label for="interest">Juguetería</label> 
                                    </div>
                                    <div>
                                        <input type="checkbox" name="interest" id="intereses"> 
                                        <label for="interest">Vida sana</label>
                                    </div>
                                </div>   
                            </div>
                        </div>
                    </div>
                    <div class="check">
                        <input type="checkbox" name="terms" id="recordar"> 
                        <label for="terms">  Acepto los <a href="">términos y condiciones</a> </label>
                        <span class="error-message">Debe aceptar los términos y condiciones</span>
                    </div>
                    <div class="button-container">
                        <span class="error-message">Credenciales inválidas</span>
                        <button type="reset" class="btn-submit">cancelar</button>
                        <span class="error-message">Credenciales inválidas</span>
                        <button type="submit" class="btn-submit">Registrarme</button>
                    </div> 
                    <span><a href="/login">Ya tengo cuenta</a></span>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <article>
                    <i class="fa-solid fa-credit-card"></i>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
                    <i class="fa-solid fa-gift"></i>
                    <h4>Envio gratis desdelos $2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
                    <i class="fa-solid fa-user-shield"></i>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>          
        </article>
        <span>Copyright © 1999-2020 MercadoLiebre S.R.L.</span>
    </footer>
</body>
</html>