@import url('styles.css');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    color: darkblue;
    font-size: 0.8rem;
    text-decoration: none;
}
h2{
    margin-bottom: 1rem;
    text-align: center;
}
hr{
    background: linear-gradient(90deg, black, white);
    height: 3px;
    margin-bottom: 3rem;
}
div.form-container{
    padding: 2rem 0;
}
.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.input-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 500px;

}
span.error-message{
    color: tomato;
    font-size: .7rem;
    display: none;
}
input.input-style{
    border: none;
    border-radius: 0.2rem;
    height: 2rem;
    padding: 0 0.5rem;
    outline: none;

}
.button-container{
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
}
.button-container button{
    font-size: 1rem;
    height: 2rem;
    background-color: blue;
    color: white;
}
.button-container button.btn-submit{
    width: 120px;
    margin: 0 1rem
}
input.input-style::placeholder{
    color: lightgray;
}